@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
    box-sizing: border-box;
    
  }
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .widt {
    padding-top: 50px;
    background: #27292a;
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
  }
  ul {
    margin-bottom: 0px;
  }
  
  p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
  }
  
.profile{
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: url('../assets/profile.jpg');
}
img{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

  .page-content {
    margin-top: 10px;
    background-color: #27292a;
    padding: 60px;
    border-radius: 23px;
  }
  
  p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    margin-bottom: 0px;
  }
  ::selection {
    background: #a747a2;
    color: #fff;
  }
  
  ::-moz-selection {
    background: #a747a2;
    color: #fff;
  }
  
  .templatemo-item {
      max-width: 80px; 
      border-radius: 23px;
  }
  
  .main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #a747a2;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  
  .main-button a:hover {
    background-color: #fff;
    color: #a747a2;
  }
  
  .main-border-button a {
    font-size: 14px;
    color: #a3559f;
    background-color: transparent;
    border: 1px solid #a3559f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }
  
  .main-border-button a:hover {
    border-color: #fff;
    background-color: #fff;
    color: #a747a2;
  }
  
  .border-no-active a {
    border-color: #666;
    color: #666;
  }
  
  .border-no-active a:hover{
    border-color: #666;
    color: #666;
    background-color: transparent;
  }
  
  section {
    margin-top: 120px;
  }
  .heading-section h4 {
    color: #b953bd;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .heading-section h4 em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
  }
  .main-profile {
    border-radius: 23px;
    padding: 30px;
    background-color: #1f2122;
  }
  
  .main-profile .main-info span {
    font-size: 14px;
    color: #fff;
    background-color: #a747a2;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  
  .main-profile .main-info h4 {
    margin-bottom: 20px;
  }
  
  .main-profile .main-info .main-border-button {
    margin-top: 25px;
  }
  
  .main-profile ul {
    border-radius: 23px;
    padding: 30px;
    background-color: #27292a;
  }
  
  .main-profile ul li {
    width: 100%;
    font-size: 14px;
    color:#fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
  }
  
  .main-profile ul li span {
    float: right;
    font-weight: 500;
    color: #b83f9d;
  }
  
  .main-profile ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .clips {
    margin-top: 30px;
    border-top: 2px solid #27292a;
  }
  
  .clips .heading-section {
    margin-top: 30px;
  }
  
  .clips .item  {
    border-radius: 23px;
    padding: 30px 15px;
    background-color: #27292a;
    margin-bottom: 30px;
  }
  
  .clips .item .thumb {
    position: relative;
    margin-bottom: 15px;
  }
  
.clips .item .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-23px, -23px);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  color: #af50af;
  }
  
.clips .item h4 {
  font-size: 15px;
  display: inline-block;
  }
  
.clips .item span i {
  color: #6573af;
}

.clips .item span {
  float: right;
  color: #fff;
  font-size: 14px;
  }

.clips .main-button {
  margin-top: 10px;
  text-align: center;
  }
  